<div class="m-3">
  <h1>Restaurants</h1>
  <table class="table">
      <thead>
        <tr class="table-info">
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% @restaurants.each do |restaurant| %>
          <td><%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none"%></td>
          <td><%= restaurant.phone_number %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Add new restaurant", restaurants_new_path, class: "btn btn-primary" %>
</div>
